{% extends 'blog/base.html' %}

{% load markdown_extras %}
{% block content %}

{% for post in posts %}
<div class="post">
  <div class="date">
     {{ post.published_date }}
   </div>
   <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
   <p>{{ post.text | striptags | truncatechars:100 | markdown | safe }}</p>
   <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
</div>
{% endfor %}

{% endblock content %}
