{% extends 'blog/base.html' %}
{% load markdown_extras %}

{% block content %}
<div class="post">
  {% if post.published_date %}
  <div class="date">
    {{ post.published_date }}
  </div>
  {% else %}
	{% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
	{% endif %}
  {% endif %}
  {% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.text | striptags | markdown | safe }}</p>
</div>
<hr>
  <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
  
  {% for comment in post.comments.all %}
  {% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
  <div class="date">{{ comment.created_date }}
    {% if not comment.approved_comment %}
    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
    {% else %}
            {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    
    {% endif %}
  </div>
  <strong>{{ comment.author | striptags | safe }}</strong>
  <p>{{ comment.text | striptags | markdown | safe }}</p>
</div>
{% endif %}

{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
