{% extends 'blog/base.html' %}
{% load markdown_extras %}

{% block content %}
{% for post in posts  %}

<div class="post">
  <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
  <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
  <p>{{ post.text| striptags | truncatechars:100 | markdown | safe }}</p>
</div>
{% endfor %}
{% endblock %}


